<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfoglio Website</title>
    <link rel="stylesheet" href="./css/output.css">
    <script defer src="../node_modules/@fortawesome/fontawesome-free/js/brands.js"></script>
    <script defer src="../node_modules/@fortawesome/fontawesome-free/js/solid.js"></script>
    <script defer src="../node_modules/@fortawesome/fontawesome-free/js/fontawesome.js"></script>
    <link rel="stylesheet" href="./css/custom.css">
    <script src="./js/index.js"></script>
</head>

<body>
    <!-- HEADER HERE-->
    <div id="hidden_by_scollded" class="flex justify-between p-4 pl-10 pr-10">
        <!-- left side div -->
        <div class="h-full">
            <img class="h-14 rounded-full" src="./img/moudgill.jpg" />
        </div>
        <!-- right side div -->
        <div class=" flex items-center">
            <ul class="flex">
                <li class=" mx-4 "><a
                        class="text-white text-sm"><span>01.&nbsp&nbsp</span>ABOUT</a></li>
                <li class=" mx-4 "><a
                        class="text-white text-sm"><span>02.&nbsp&nbsp</span>ABOUT</a></li>
                <li class=" mx-4 "><a
                        class="text-white text-sm"><span>03.&nbsp&nbsp</span>ABOUT</a></li>
                <li class=" mx-4 "><a
                        class="text-white text-sm"><span>04.&nbsp&nbsp</span>ABOUT</a></li>
                <li class=" mx-4 "><a
                        class="text-white text-sm"><span>05.&nbsp&nbsp</span>ABOUT</a></li>
            </ul>
        </div>
    </div>


     <!-- INTRODUCTION DIV HERE -->
     <div class="h-screen  flex flex-col pl-10 pr-10">
        <div class=" p-8 pl-24 ">
            <!-- FIRST INSIDE DIV -->
            <div class="intro_start_heading mb-6 ">Hi,my name is</div>
            <!-- SECOND INSIDE DIV -->
            <div class=" intro_name_heading font-bold text-5xl ">Manmeet Moudgill</div>
            <div class=" intro_explain_heading font-bold mt-6 text-5xl ">I build things for the web.</div>

            <!-- THIRD INSIDE DIV -->
            <div class="  w-5/12 mt-8 mb-8">I’m a software engineer 
            specializing in building (and occasionally designing) 
            exceptional digital experiences. 
            Currently, I’m focused on building accessible, 
            human-centered products at Upstatement.</div>


            <!-- FOURTH INSIDE DIV -->
            <div clas=" border-blue-900 mt-6">
                <button class="btn   h-16 w-48 rounded-md">Check out my Resume</button>
            </div>


        </div>
    </div>





    <!-- FIXED DIV  -->
    <div class="h-80  w-full fixed bottom-0 flex justify-between ">
        <div class="left_side_div   pl-10 h-full w-full ">
            <div class=" w-11">
                <ul class="flex list_logos flex-col">
                    <li class="mb-7"><a class="logos flex justify-center" href="https://github.com/" aria-label="GitHub"
                            target="_blank" rel="noreferrer"><svg
                                class="hover:-translate-y-1 transition-transform  delay-75 transform"
                                xmlns="http://www.w3.org/2000/svg" role="img" viewBox="0 0 24 24" fill="none"
                                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                class="feather feather-github">
                                <title>GitHub</title>
                                <path
                                    d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22">
                                </path>
                            </svg></a></li>
                    <li class="mb-7"><a class="logos flex justify-center" href="https://github.com/" aria-label="GitHub"
                            target="_blank" rel="noreferrer"><svg
                                class="hover:-translate-y-1 transition-transform  delay-75 transform"
                                xmlns="http://www.w3.org/2000/svg" role="img" viewBox="0 0 24 24" fill="none"
                                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                class="feather feather-instagram">
                                <title>Instagram</title>
                                <rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect>
                                <path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path>
                                <line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line>
                            </svg></a></li>
                    <li class="mb-7"><a class="logos flex justify-center" href="https://github.com/" aria-label="GitHub"
                            target="_blank" rel="noreferrer"><svg
                                class="hover:-translate-y-1 transition-transform  delay-75 transform"
                                xmlns="http://www.w3.org/2000/svg" role="img" viewBox="0 0 24 24" fill="none"
                                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                class="feather feather-twitter">
                                <title>Twitter</title>
                                <path
                                    d="M23 3a10.9 10.9 0 0 1-3.14 1.53 4.48 4.48 0 0 0-7.86 3v1A10.66 10.66 0 0 1 3 4s-4 9 5 13a11.64 11.64 0 0 1-7 2c9 5 20 0 20-11.5a4.5 4.5 0 0 0-.08-.83A7.72 7.72 0 0 0 23 3z">
                                </path>
                            </svg></a></li>
                    <li class="mb-7 last_list_item"><a class="logos flex justify-center" href="https://github.com/"
                            aria-label="GitHub" target="_blank" rel="noreferrer"><svg
                                class="hover:-translate-y-1 transition-transform  delay-75 transform"
                                xmlns="http://www.w3.org/2000/svg" role="img" viewBox="0 0 24 24" fill="none"
                                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                class="feather feather-linkedin">
                                <title>LinkedIn</title>
                                <path
                                    d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z">
                                </path>
                                <rect x="2" y="9" width="4" height="12"></rect>
                                <circle cx="4" cy="4" r="2"></circle>
                            </svg></a></li>

                </ul>
            </div>
        </div>
        <div class="right_side_div  h-full flex pr-10 justify-end w-full ">
            <div class= w-11">
                <div class="last_list_item flex flex-col items-center">
                    <a
                        class="text-sm  emailAnchor cursor-pointer hover:-translate-y-1 transition-transform  delay-75 transform   text-white">
                        manmeetmoudgill76@gmail.com</a>

                </div>

            </div>
        </div>
    </div>

</body>

</html>